<div id = "cardContainer">
  <div class="row mt-3">
    <div class="col">
      <div class="card shadow"  style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Full Course Title</h5>
          <p class="card-text">Course Title Short</p>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow"  style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Full Course Title</h5>
          <p class="card-text">Course Title Short</p>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow"  style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Full Course Title</h5>
          <p class="card-text">Course Title Short</p>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow"  style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Full Course Title</h5>
          <p class="card-text">Course Title Short</p>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <button  class="btn btn-primary" (click)="logout()">Logout</button>
</div>
