<div class="container mt-4">
    <h1>{{ title }} {{ text }}</h1>
    
    <div class="container mb-4">
        <div class="row">
            <ng-container *ngFor="let file of files; let i = index">
                <div *ngIf="file.courseId === title" class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ file.fileName }}</h5>
                            <p class="card-text">Uploaded by: {{ file.uploadedBy }}</p>
                            <a class="btn btn-danger" *ngIf="file.uploadedBy === loggedInUserId" (click)="deleteFile(i)">Delete</a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="container mb-4">
        <div class="mb-4">
            <input id="fileInput" type="file" class="form-control" (change)="onFileSelected($event)" />
            <button class="btn btn-primary mt-2" (click)="uploadFile()">Upload File</button>
        </div>

        <div class="card mb-4">
            <div class="card-body">
              <form (submit)="submitComment()">
                <div class="mb-4">
                  <label for="commentInput" class="form-label">Your Comment:</label>
                  <textarea [(ngModel)]="commentInput" name="commentInput" class="form-control" id="commentInput" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
        </div>
    </div>

    <div class="container" *ngFor="let comment of comments; let i = index">
        <div class="card mb-4" *ngIf="comment.courseId === title">
            <div class="card-body">
                <p>{{ comment.comment }}</p>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <p class="small mb-0 ms-2">{{ comment.firstName }} {{ comment.lastName }}</p>
                    </div>
                </div>
                <button class="btn btn-danger" *ngIf="comment.uploadedBy === loggedInUserId" (click)="deleteComment(i)">Delete</button>
            </div>
        </div>
    </div>
</div>